<app-teste-pipes></app-teste-pipes>

<!--<div class="container">

  <div class="row">
    <div class="form-group col-12">
      <label for="lembreteInputText">Lembrete</label>
      <input [appSombraNaTabela]="variavelSombra" type="text" id="lembreteInputText" placeholder="Digite seu lembrete" class="form-control"[(ngModel)]="lembrete"
      #apiSombra="sombraNoComponente">
    </div>
  </div>

  <div class="row">
    <div class="col-12">
      <button type="button" (click)="salvar()" class="btn btn-primary btn-block">Salvar</button>
    </div>
  </div>

  <div class="row">
    <div class="col-12">
      <button (click)="apiSombra.quandoOMousePassarPorCima()"type="button" class="btn btn-primary btn-block mt-3">
        Aplicar sombra
      </button>
    </div>
  </div>

  <div class="row">
    <div class="col-12">
      <button (click)="apiSombra.quandoOMouseSair()"type="button" class="btn btn-primary btn-block mt-3">Remover sombra</button>
    </div>
  </div>

  <div class="row">
    <div class="col-12">
      <table appSombraNaTabela="10px 10px blue" class="table table-striped table-hover mt-3">
        <thead>
          <th class="text-center">Lembretes</th>
        </thead>
        <tbody>
          <tr *ngFor="let lembrete of lembretes">
            <td class="text-center">{{lembrete}}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>

</div>-->
